<% if(includeBootstrap) { %>
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
<% } %>

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
